@model IEnumerable<AdminLTE1.PayPalHelper.PayPalPaymentCreatedResponse>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <h2>Successfully</h2>
    <h3>Transaction Details</h3>


    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>View Invoice</th>
        </tr>

        @if (ViewBag.result != null)
        {
            var product = ViewBag.result;

        <tr>
            <td>@product.id</td>
            <td>@(product.payer.payer_info.first_name + " " + product.payer.payer_info.last_name)</td>
            <td>@product.payer.payer_info.email</td>
            <td>
                <a asp-action="Invoice" asp-controller="Cart" asp-route-id="@product.id"
                   class="btn btn-primary" style="width:auto">Invoice</a>
            </td>
        </tr>

        }
    </table>

</body>
</html>


@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#MyDataTable").DataTable();
        }
        )
    </script>
}
